
<div><a [routerLink]="['/printers']"><span class="glyphicon glyphicon-triangle-left"></span> Back to Printers</a></div>
  <div class="row text-center">
   <label for="file-upload" *ngIf="editMode" >
      <div class="image-container text-center" style="position:relative" >
        <img id="main-image" [src]=printer.MainPrinterImageUrl *ngIf="!imageHolder"/>
        <img id="main-image" class="image-placeholder" [src]=imagePreview *ngIf="imageHolder"/>
        <div class="edit-alert text-left">
          <span class="glyphicon glyphicon-camera" style="margin:15px 3px 0px 15px;"></span>
          <span style="font-weight:initial">Change this image</span>
        </div>
      </div>
      <div class="center-block text-center" *ngIf="!imageHolder && createMode">
        <span class="h5" style="color:lightgrey">Upload an image above</span>
      </div>
    </label>

    <div class="image-container center-block" *ngIf="!editMode">
      <img id="main-image" [src]=printer.MainPrinterImageUrl />
    </div>  
  </div>

  <ng-container *ngIf="editMode">
    <input type="file" id="file-upload" name="file-upload" accept="image/*" (change)="holdImage($event)" style="display:none">
    <div class="center-block text-center alert alert-success upload-alert" *ngIf="imageHolder">
      <strong>Selected File: </strong><span>{{imageHolder.name}}</span>
      <!--<button class="btn btn-default center-block" (click)="uploadImage()" style="margin-top:5px" >Change Image</button>-->
    </div>
  </ng-container>
  
  <h1 class="h2 text-center center-block"><strong>{{printer.PrinterName}}<span *ngIf="printer.UserPrinterId"> - Printer {{printer.UserPrinterId}}</span></strong></h1>
  <h1 class="h2 text-center center-block" style="color:lightgrey" *ngIf="!printer.PrinterName"><strong>Enter a printer name below</strong></h1>
  <a [routerLink]="['edit']" *ngIf="!editMode && printer.UserId == app_user_id"><span class="glyphicon glyphicon-edit" style="margin-right:3px"></span>Edit</a>
  <a [routerLink]="['..']" *ngIf="editMode && !createMode"><span class="glyphicon glyphicon-ban-circle"></span> Stop Editing</a>
  <hr/>
  <div class="clearfix"></div>
  <ng-container *ngIf="!editMode">
    <div class="row">
      <h2 class="h3">Printer Information</h2>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl *ngIf="!editMode">
          <dt>Name</dt>
          <dd>{{printer.PrinterName}}</dd>
          <dt>Total Print Time</dt>
          <dd>{{printer.PrintTimeHours || 0}} hrs</dd>
          <dt>Number of Prints</dt>
          <dd>{{printer.NumberOfPrints || 0}}</dd>       
        </dl>
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl>
          <dt>Date Acquired</dt>
          <dd>{{printer.DateAcquired}}</dd>
          <dt>Source</dt>
          <dd>{{printer.PrinterSource}}</dd>
          <dt>Printer Id</dt>
          <dd>{{printer.UserPrinterId}}</dd>
        </dl>
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
      <div class="clearfix"></div>
      <h2 class="h3">Maintenance Information</h2>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl>
          <dt>Belts Maint. Interval</dt>
          <dd>{{printer.BeltMaintInt}} hrs</dd>
          <dt>Belts Last Service (Total Print Time)</dt>
          <dd>{{printer.BeltMaintLast || 0}} hrs</dd>
        </dl>
        <form class="form">
          <button type="button" class="btn btn-default maint-btn">Belt Maintenance Performed</button>
        </form>
        
        <dl>
          <dt>Wiring Maint. Interval</dt>
          <dd>{{printer.WireMaintInt}} hrs</dd>
          <dt>Wiring Last Service (Total Print Time)</dt>
          <dd>{{printer.WireMaintLast || 0}} hrs</dd>
        </dl>
        <form class="form">
          <button type="button" class="btn btn-default maint-btn">Wire Maintenance Performed</button>
        </form>
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl>
          <dt>Lubr. Maint. Interval</dt>
          <dd>{{printer.LubeMaintInt}} hrs</dd>
          <dt>Lubr. Last Service (Total Print Time)</dt>
          <dd>{{printer.LubeMaintLast || 0}} hrs</dd>
        </dl>
        <form class="form">
          <button type="button" class="btn btn-default maint-btn">Lubr. Maintenance Performed</button>
        </form>
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
              
    </div> <!-- row -->
    <div class="row" *ngIf="printer.Prints.length > 0 && !editMode">
      <h2 class="h3">Prints From This Printer</h2>
      <div>
        <div *ngFor="let print of printer.Prints" class="pull-left">
          <a [routerLink]="['/prints/printdetails', print.PrintId]" >
            <div class="print-container text-center">
              <img [src]=print.MainPrintImageUrl class="print-image center-block"/>
              <span>{{print.PrintName}}</span>
            </div>
          </a>
        </div>
      </div>

    </div>
  </ng-container>
  <form class="form-group" #updateForm="ngForm" *ngIf="editMode" (ngSubmit)="formSubmission()">
    <fieldset>
      <h2 class='h3'>Printer Information</h2>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">        
        <label for="printerName">Name</label>
        <input required class="form-control" name="printerName" [(ngModel)]="printer.PrinterName">
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">          
        <label for="dateAcquired">Date Acquired</label>
        <input required type="date" class="form-control" name="dateAcquired" [(ngModel)]="printer.DateAcquired">
        <label for="printerSource">Source</label>
        <input class="form-control" name="printerSource" [(ngModel)]="printer.PrinterSource">
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
    </fieldset>
    <fieldset>
      <h2 class="h3">Maintenance Information </h2>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  
        <label for="beltMaintInt">Belt Maint. Interval</label>
        <div class="input-group">
          <input required class="form-control" ngModel minInt name="beltMaintInt" [(ngModel)]="printer.BeltMaintInt">
          <span class="input-group-addon">Hrs</span>
        </div>
        <button type="button" class="btn btn-default maint-btn" *ngIf="!createMode">Belt Maintenance Performed</button>
        <br>
        <label for="wireMaintInt">Wiring Maint. Interval</label>
        <div class="input-group">
          <input required class="form-control" ngModel minInt name="wireMaintInt" [(ngModel)]="printer.WireMaintInt">
          <span class="input-group-addon">Hrs</span>
        </div>
        <button type="button" class="btn btn-default maint-btn" *ngIf="!createMode">Wire Maintenance Performed</button>
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
        <label for="lubeMaintInt">Lubr. Maint. Interval</label>
        <div class="input-group">
          <input required class="form-control" ngModel minInt name="lubeMaintInt" [(ngModel)]="printer.LubeMaintInt">
          <span class="input-group-addon">Hrs</span>
        </div>
        <button type="button" class="btn btn-default maint-btn" *ngIf="!createMode">Lubr. Maintenance Performed</button>
      </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
    </fieldset>
    <div class="text-center center-block submit-wrapper">
      <button class="btn btn-default" type="submit" [disabled]="!updateForm.valid || updateForm.pristine && !imageHolder" *ngIf="!createMode">Save Changes</button>
      <button type="submit" class="btn btn-default" [disabled]="!updateForm.valid || updateForm.pristine || !imageHolder" *ngIf="createMode">Create Printer</button> 
    </div>
    <div class="alert alert-danger" style="margin-top:20px;" [hidden]="updateForm.valid">One or more fields needs attention!</div>
    <div class="alert alert-danger" style="margin-top:20px;" [hidden]="imageHolder || !createMode">Please upload an image for this item.</div>
  </form>
