<div class="jumbotron" style="background:url('assets/images/jumbotron.jpg') no-repeat center center">
    <h1>Print3dIt</h1>
    <p>A convenient way to track your 3D prints and consumables.</p>
    <button class="btn btn-primary" [routerLink]="['/intro']">Take a tour</button>
</div>
<div class="page-header">
    <h2>View Your Prints On Any Device</h2>
</div>
<div class="center-block text-center">
    <p class="text-center">
        Print3dIt offers an accessible way to track the major components every 3D printing enthusiast will use. Access the web application from a traditional computer
        or from a mobile device. Add an entry for every new creation to easily be able to pull up a photo and print information in the future. Track your printers
        themselves to know when routine maintenance is required. Keep track of your different spools of filament and see if there is enough for that last print, or if it is better to
        start a new spool.
    </p>
</div>
<div class="page-header center-block text-center">
    <h2>Get Started</h2>
</div>
<div class="text-center" style="margin-bottom:45px;">
    <p>Take a brief tour through the application with the <a [routerLink]="['/intro']" style="color:#337ab7;">introduction overview</a> or jump straight in with the links below.</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center main-link-container">
    <a [routerLink]="['/prints']">
        <div class="center-block img-circle main-link" style="background:url('assets/images/benchy.JPG');"></div>
        <br>
        <h3>Print Library</h3>
        <hr>
        <p class="text-center">Take a tour of the prints you have made in the Print Library.</p>
    </a>
</div> <!-- col-lg-4 col-md-4 col-sm-12 col-xs-12 -->
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center main-link-container">
    <a [routerLink]="['/printers']">
        <div class="center-block img-circle main-link" style="background:url('assets/images/makerselect.jpg');"></div>
        <br>
        <h3>Printer Library</h3>
        <hr>
        <p class="text-center">Keep track of maintenance and print information for your printers in the Printer Library.</p>
    </a>
</div> <!-- col-lg-4 col-md-4 col-sm-12 col-xs-12 -->
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center main-link-container">
    <a [routerLink]="['/prints']">
        <div class="center-block img-circle main-link" style="background:url('assets/images/filament.jpg');"></div>
        <br>
        <h3>Filament Library</h3>
        <hr>
        <p class="text-center">See what you've got in terms of materials and colors in the Filament Library.</p>
    </a>
</div> <!-- col-lg-4 col-md-4 col-sm-12 col-xs-12 -->