
    <form class="form form-inline" id="search-form">
      <div class="form-group col-md-6">
        <label class="control-label" for="printSearchTxt">Search</label>
        <div class="">
          <input type="text" class="form-control" name="printSearchTxt" [(ngModel)]="printSearchTxt" placeholder="Search by print name">
        </div>
      </div> <!-- form-group col-md-6 -->
      <div class="form-group col-md-4">
        <label class="control-label" for="filamentSelect">Filament</label>
        <div class="">
          <select class="form-control" name="filamentSelect" [(ngModel)]="selectedFilament">
            <option value="" selected>Any filament</option>
            <option *ngFor="let filament of filamentOptions" [ngValue]="filament">{{filament.FilamentName}}</option>
          </select>
        </div>
      </div> <!-- form-group col-md-4 -->
      
      <div class="form-group col-md-4 col-md-offset-6">
        <label class=" control-label" for="printerSelect">Printer</label>
        <div class="">
          <select class="form-control" name="printerSelect" [(ngModel)]="selectedPrinter">
            <option value="" selected>Any printer</option>
            <option *ngFor="let printer of printerOptions" [ngValue]="printer">{{printer.PrinterName}}</option>
          </select>
        </div>
      </div> <!-- form-group col-md-4 col-md-offset-6 -->
      <div class="form-group col-md-2">
        <div>
          <button class="btn btn-default" (click)="applySearch()">Apply</button>
        </div>
      </div> <!-- form-group col-md-2 -->

    </form> <!-- form -->
  <div class="clearfix"></div>
  <hr/>
  <div style="margin-bottom:10px;"><a [routerLink]="['create']">Create a new print ></a></div>
  <div id="library-display" class="gutter-20">
    <div *ngFor="let print of displayPrints" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 single-display">
      <a [routerLink]="['printdetails',print.PrintId]">
        <div class="display-container">
          <div class="display-image-container center-block">
            <img [src]=print.MainPrintImageUrl class="center-block display-image"/>
          </div>
          <div class="display-info">
            <p class="text-center"><strong>{{print.PrintName}}</strong></p>
            <p class="text-center">{{print.FilamentName}}</p>
            <p class="text-center">{{print.PrinterName}}</p>
            <p class="text-center" *ngIf="print.Success == true">Success!</p>
            <p class="text-center" *ngIf="print.Success != true">Failed</p>
          </div> <!-- print-display-info -->
        </div> <!-- print-display-container -->
      </a>
    </div> <!-- let print of allPrints -->
  </div>