.form-control {
    width:100%;
}

.form-group button {
    margin-top:20px;
}

// 20px gutter
.gutter-20{
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.print-display-container{

    border: 1px solid rgba(0,0,0,0);
    border-radius:3px;
}

.print-display-container:hover{
    background-color: lightgray;
    border: 1px solid gray;
    border-radius:3px;
}

.print-display-image-container{
    display:flex;
    align-items:center;
    height:160px;
    width:190px;
}

.print-display-image{
    padding:5px;
    max-height:160px;
    max-width:190px;
    border:1px solid lightgrey;
    border-radius:5px;
}

.print-display-info{
    margin-bottom:5px;
    margin-top:3px;
}

.print-display-info p{
    color:black;
}


#print-library-display p {
    margin-bottom:-3px
}

.single-print-display{
    margin-bottom:20px;
}

.single-print-display a:hover{
    text-decoration:none;
}

	