<div class="col-md-2 col-sm-12">
    <app-side-nav></app-side-nav>
</div> <!--col-md-2 -->
<div class="col-md-10 col-sm-12">
    <form class="form form-inline" id="search-form">
      <div class="form-group col-md-6">
        <label class="control-label" for="printerSearchTxt">Search</label>
        <div class="">
          <input type="text" class="form-control" name="printerSearchTxt" [(ngModel)]="printerSearchTxt" placeholder="Search by printer name">
        </div>
      </div> <!-- form-group col-md-6 -->
      
      <div class="form-group col-md-2">
        <div>
          <button class="btn btn-default" (click)="applySearch()">Apply</button>
        </div>
      </div> <!-- form-group col-md-2 -->

    </form> <!-- form -->
  <div class="clearfix"></div>
  <hr/>

  <div id="library-display" class="gutter-20">
    <div *ngFor="let printer of displayPrinters" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 single-display">
      <a [routerLink]="['printerdetails',printer.PrinterId]">
        <div class="display-container">
          <div class="display-image-container center-block">
            <img [src]=printer.MainPrinterImageUrl class="center-block display-image"/>
          </div>
          <div class="display-info">
            <p class="text-center"><strong>{{printer.Name}}</strong></p>
            <p class="text-center" style="margin-bottom:5px"><strong>Printer {{printer.PrinterId}}</strong></p>
            <p class="text-center"><em>Prints:</em> {{printer.NumberOfPrints}}</p>
            <p class="text-center"><em>Print Time:</em> {{printer.PrintTimeHours}} hours</p>
            <p class="text-center"><em>Since: </em> {{printer.DateAcquired.toLocaleDateString()}}</p>
          </div> <!-- print-display-info -->
        </div> <!-- print-display-container -->
      </a>
    </div> <!-- let print of allPrints -->
  <div>

</div> <!-- col-md-10 col-sm-12 -->