dd {
    margin-bottom:10px;
}

.edit-alert {
    height:0px;
    position:absolute;
    top: 0;
    left:0;
    right:0;
    overflow:hidden;
    transition: all .5s;
    background: rgba(0,0,0,0);
    cursor:pointer;
    color:white;
}

.image-container:hover .edit-alert, .edit-alert:hover {
    height:100%;
    background:rgba(0,0,0,.5);
}


form .ng-valid.ng-dirty {
    border-left:4px solid lightgreen;
}

form .ng-invalid {
    border-left:4px solid red;
}

.form-control {
    max-width:400px;
}

:not(.input-group) > .form-control {
    margin-bottom: 10px;
} 

.image-container {
    max-height:200px;
    max-width:400px;
    border-radius: 5px;
    margin-top:20px;
    border: 1px solid lightgrey;
    display:inline-block;
}

.input-group {
    max-width:400px;
    margin-bottom:10px;
}

#main-image{
    max-height:200px;
    max-width:400px;
    padding: 5px;
    
}

.maint-btn {
    margin-bottom:30px;
}

.submit-wrapper {
    margin-top:20px;
}





