<div *ngIf="filament">
  <div class='row'>
    <div class="color-header" [style.background]="filament.HtmlColor"></div>
    <hr/>
    <h2 class="h3">Filament Information</h2>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <dl>
        <dt>Brand</dt>
        <dd>{{filament.Brand}}</dd>
        <dt>Material</dt>
        <dd>{{filament.Material}}</dd>
        <dt>Length Remaining</dt>
        <dd>{{filament.LengthRemain}} m</dd>
        <dt>Color Family</dt>
        <dd>{{filament.Color}}</dd>
      </dl>
    </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <dl>
        <dt>Date of Purchase</dt>
        <dd>{{filament.DateAcquired.toLocaleDateString()}}</dd>
        <dt>Place of Purchase</dt>
        <dd>{{filament.FilamentSource}}</dd>
        <dt>Spool Id</dt>
        <dd>{{filament.UserFilamentId}} m</dd>
      </dl>
    </div> <!-- col-xs-12 col-sm-12 col-md-6 col-lg-6 -->
  </div>
  <div class="row" *ngIf="filament.Prints">
    <h2 class="h3">Prints With This Filament</h2>
    <div>
      <div *ngFor="let print of filament.Prints" class="pull-left">
        <a [routerLink]="['/prints/printdetails', print.PrintId]" >
          <div class="print-container text-center">
            <img [src]=print.MainPrintImageUrl class="print-image center-block"/>
            <span>{{print.Name}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
