<div class="jumbotron">
  <h1>Getting started.</h1>
  <p>Log your current inventory and you are on your way.</p>
</div>
<div class="page-header">
  <h2>Library Views</h2>
</div>
<div class="text-center">
  <p>Library views offer at-a-glance looks at the whole of your current inventories. Libraries exist for prints, filaments, and printers.
  Each library view offers filter options which you can use to narrow the number of items on the page. Library views are also mobile-friendly, 
  shrinking the item columns to accomodate a range of screen sizes. </p>
  <img class="big-image" src="/assets/images/printlibrary.jpg">
</div>
<div class="page-header text-center">
  <h2>Detail Views</h2>
</div>
<div class="text-center">
  <p>Clicking on an item in a library view will take you into the details view for that item. Here, you can view further information about
    the print, filament, or printer. You will also find the option to edit the details of items in this view, as well as the option to delete items
    in the case of prints. You will also find prints that were created using that filament or printer in this view.
  </p>
  <img class="big-image" src="assets/images/details.jpg">
</div>
<div class="page-header text-right">
  <h2>Edit and create</h2>
</div>
<div class="text-center">
  <p>The library views naturally start out empty, just waiting to be populated. By clicking the <span class="glyphicon glyphicon-plus"></span> icons 
  within the library views, you can add new items. Populate the fields and upload an image to get your creations and tools into the app. Editing is just
   as easy, allowing you to correct errors or change up names and other information.</p>
   <img class="big-image" src="assets/images/create.jpg">
</div>
